
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NWW8ZQMQ6Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NWW8ZQMQ6Y');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8105393205319644"
     crossorigin="anonymous"></script>
<style>
  .list__item{margin-bottom:20px;}
  .align-caption{
    font-size: smaller;
    color: gray;
  }
  .page__hero-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
</style>
<link rel="shortcut icon" href="/assets/favicon.ico">
{% seo %}